<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/OlvidarContraseña.css">
    <title>Olvidé mi contraseña</title>
</head>

<body>
    <div class="container">
        <div class="imagen">
            <img src="/img/contra.png" alt="Imagen de contraseña">
        </div>
        <h2>Olvidé mi contraseña</h2>
        <form action="#" method="POST">
            <div class="inputContainer">
                <input type="email" placeholder="Ingresa tu correo electrónico" required>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>